/* Styles par défaut */

body {
    background-color: rgba(255, 255, 255, 0.055);
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

:root {
    --couleur-bleue: #2e60ea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#todo-container {
    position: relative;
    border: 2px solid rgb(29, 32, 54);
    padding: 20px;
    background: radial-gradient(circle, rgba(254, 2, 2, 0.028) 0%, rgb(65, 104, 152) 100%);
    border-radius: 10%;
}

#todo-container::before {
    content: "°";
    border: 2px solid rgb(29, 32, 54);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 20px;
    background-color: none;
    border-radius: 25px 25px 5px 5px;
}

.counter-container {
    color: #2e60ea;
    font-size: 25px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(9, 9, 31), 0 0 5px rgb(180, 180, 190);
}

#input-box {
    width: 200px;
    padding: 10px;
    border: 2px solid var(--couleur-bleue);
    border-radius: 5px;
    margin-right: 5px;
    font-size: 20px;
}

#due-date {
    width: 120px;
    padding: 10px;
    border: 2px solid var(--couleur-bleue);
    border-radius: 3px;
    margin-left: 5px;
    font-size: 16px;
    color: #4800ff;
}

#input-button {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    background-color: var(--couleur-bleue);
    border: 2px solid var(--couleur-bleue);
}

.task button {
    background: rgb(37, 89, 148);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: rgb(170, 66, 66);
    float: right;
}

hr {
    border: 0.5px solid #0033ff;
}

#header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
    color: #0033ff;
}

h1 {
    margin-bottom: 20px;
}

#input-button:hover {
    background-color: #f2f6f0;
    color: #3a00f7;
}

/* Styles pour le tableau */

#task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#task-table th,
#task-table td {
    border: 3px solid rgb(8, 91, 247);
    padding: 8px;
    text-align: center;
}

#task-table th {
    background-color: var(--couleur-bleue);
    color: rgb(4, 4, 4);
}

#task-table .completed {
    text-decoration: line-through;
    color: rgb(84, 84, 84);
    border: 3px solid rgb(107, 108, 107);
}

/* Styles responsifs pour les petits écrans */

@media screen and (max-width: 360px) {

    /* Styles spécifiques pour les écrans de 360px de largeur ou moins */
    #input-box {
        width: 140px;
        font-size: 14px;
    }

    #due-date {
        width: 100px;
        font-size: 14px;
    }

    #input-button {
        font-size: 16px;
    }

    #task-table th,
    #task-table td {
        padding: 6px;
    }

    h1 {
        font-size: 18px;
    }
}

@media screen and (min-width: 361px) and (max-width: 460px) {

    /* Styles spécifiques pour les écrans entre 361px et 460px de largeur */
    #input-box {
        width: 160px;
        font-size: 16px;
    }

    #due-date {
        width: 110px;
        font-size: 14px;
    }

    #input-button {
        font-size: 18px;
    }

    #task-table th,
    #task-table td {
        padding: 7px;
    }

    h1 {
        font-size: 20px;
    }
}

@media screen and (min-width: 461px) and (max-width: 560px) {

    /* Styles spécifiques pour les écrans entre 461px et 560px de largeur */
    #input-box {
        width: 180px;
        font-size: 18px;
    }

    #due-date {
        width: 120px;
        font-size: 14px;
    }

    #input-button {
        font-size: 20px;
    }

    #task-table th,
    #task-table td {
        padding: 8px;
    }

    h1 {
        font-size: 22px;
    }
}

@media screen and (min-width: 561px) and (max-width: 760px) {

    /* Styles spécifiques pour les écrans entre 561px et 760px de largeur */
    #input-box {
        width: 200px;
        font-size: 18px;
    }

    #due-date {
        width: 120px;
        font-size: 16px;
    }

    #input-button {
        font-size: 22px;
    }

    #task-table th,
    #task-table td {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }
}